{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row" >
<!--  <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>-->
<!--  <div class="col-sm-2 border-end">-->
<!--   <ul class="list-unstyled">-->
<!--    <li class="d-grid"><a  href="#" class="btn btn-secondary">Change Password</a></li>-->
<!--&lt;!&ndash;       style="background-color: #842029;border-color:#842029;"&ndash;&gt;-->
<!--   </ul>-->
<!--  </div>-->
  <div class="col-sm-6 offset-sm-1" style="width:100%;">
  <h3>Change Password</h3>
   <hr>
   <form action="" method="post" novalidate class="shadow-sm p-5" style="box-shadow: 0 .125rem .25rem rgba(0,0,0,.5)!important;">
    {% csrf_token %}
     {% for fm in form %}
      <div class="form-group">
       {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
      </div>
     {% endfor %}
     <input type="submit" class="btn mt-4" value="Save" style="background-color: #894e3f;border-color:#894e3f; color: #fff;">
     {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
       <p class = "alert alert-danger my-3">{{error}}</p>
      {% endfor %}
     {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}